*{
  box-sizing: border-box;
  font-family: Arial;
}
#about .row{
  margin-top: 50px;
}
#about p {
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.2px;
}
#about .col-md-6{
  padding-top: 22px;
  padding-bottom: 30px;
}

.main-effects{
  background: url(../images/2019-12-11-mountain-day-featured-01.jpg);
  background-repeat: no-repeat;
  height: 60vh;
}

.parallax-section{
  background-size: cover!important;
  overflow: hidden;
  background-attachment: fixed!important;
}
#home h1{
    left: 0;
    line-height: 200px;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-weight: bolder;
    font-size: 60px;
    color: white;
    font-family: serif;
}
