*{
  font-family: Arial;
}
body{
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../images/signup.jpg);
  background-size: 100%;
}
.separator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 500px;
  margin-top: 250px;
  margin-bottom: 300px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border-radius: 25px;
  padding:15px;
  background-color: white;
}
body form input{
  margin-top: 10px;
}
.button1{
  background-color: #4CAF50;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  margin-top: 5px;
  color: white;
  display: inline-block;
  border: none;
}
.button2{
  background-color: #33ADFF;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  margin-top:5px;
  color: white;
  display: inline-block;
  border: none;
}
.button1:hover{
  background-color: #4C9F40;
}
.button2:hover{
  background-color: #1AA3FF;
}
@media only screen and (max-width: 800px) {
  body{
    height: 110%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../images/signupmobile.jpg);
    background-size: 110%;
  }
  .separator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 500px;
    margin-top: 150px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-radius: 25px;
    padding:15px;
    background-color: white;
  }
}
