.bodycolor{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom,#222831,#393e46,#00adb5);
}
.margimg{
  margin-left: 15px;
  width: 800px;
  height: 500px;
}
.pfont{
  margin-top: 30px;
  margin-left: 25px;
  color: white;
  font-size: 25px;
}
.h3style{
  font-weight: bold;
  color: white;
  font-size: 30px;
  margin-left: 20px;
}
.articleline{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 25px;
}
