*{
  font-family: Arial;
}
.h3{
  color:black; text-shadow: 2px 2px 2px white;
}
.image{
  box-shadow: 5px 5px 5px black;
}
.main-effects{
  background: url(images/calculate.jpg);
  background-repeat: no-repeat;
  height: 60vh;
}
#home h1{
    left: 0;
    line-height: 200px;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-weight: bolder;
    font-size: 60px;
    color: white;
    font-family: serif;
}
input[type=number], #message{
  padding: 15px;
  border: 1px solid grey;
  border-radius: 3px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
  box-sizing: border-box;
  background: transparent;
}
#header{
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}
#bmi-btn,#bmr-btn{
  margin-top: 20px;
  margin-bottom: 20px;
}
#radiomale,#radiofem{
  margin-top: 10px;
}
#result, #result2{
  font-weight: bolder;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
