*{
  font-family: Arial;
}
.h3{
  color:black; text-shadow: 2px 2px 2px white;
}
.image{
  box-shadow: 5px 5px 5px black;
}
body {
	background: linear-gradient(to bottom right, red, orange, dodgerblue, deepskyblue);
	background-size: 200% 200%;
	animation: gradient 4s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
input[type=number], #message{
  padding: 15px;
  border: 1px solid grey;
  border-radius: 3px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
  box-sizing: border-box;
  background: transparent;
}
#bmi-btn,#bmr-btn{
  margin-top: 20px;
  margin-bottom: 20px;
}
#radiomale,#radiofem{
  margin-top: 10px;
}
#result, #result2{
  font-weight: bolder;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
