*{
  font-family: Arial;
}
input[type=text], #message{
  padding: 15px;
  border: 1px solid grey;
  border-radius: 3px;
  width: 80%;
  margin-left: 10%;
  box-sizing: border-box;
  background: transparent;

}
.box-margin{
  margin-top: 250px;
  margin-bottom: 300px;
}
#submit{
  margin-bottom: 20px;
}
#submit:hover{
  background-color: #00b009;
}
body{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(images/contact.jpg);
  background-size: 100%;
}
#header{
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 800px) {
   body{
    height: 150%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(images/contactmobile.jpg);
    background-size: 150%;
  }
  .box-margin{
    margin-top: 100px;
    margin-bottom: 200px;
  }
}
#header{
  font-size: 38px;
}
#greentext {
  color: green;
}
