/* .separator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:25px;
} */
.pfont {
  padding: 15px;
}
.pfont h3{
  font-weight: 1000px;
  color: black;
  font-size: 25px;
}
.separator {
  padding: 50px;
  display: block;
  text-align: center;
}
.pfont p {
  line-height: 25px;
}
