*{
  font-family: Arial;
}
.bodycolor{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(images/login.jpg);
  background-size: 100%;

}
.separator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin-top: 250px;
  margin-bottom: 300px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border-radius: 25px;
  padding:15px;
  background-color: white;
}
.chbox{
  float:left;
  position: relative;
  right: 225px;
  top: 10px;
}
body div .button1{
  background-color: #4CAF50;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  margin-top: 5px;
  color: white;
  display: inline-block;
  border: none;
}
.button2{
  background-color: #33ADFF;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  margin-top:5px;
  color: white;
  display: inline-block;
  border: none;
}
.button1:hover{
  background-color: #4C9F40;
}
.button2:hover{
  background-color: #1AA3FF;
}
