.boxes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.box1{

}
.box2{
  position: relative;top:20px; left:20px;
}
.h3{
  color:black; text-shadow: 2px 2px 2px white;
}
.image{
  box-shadow: 5px 5px 5px black;
}
h3 a:visited {
 text-decoration: none;
 color: black;
}
