.bodypic{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, pink, white, lightgreen, green);
}
.container{
  box-sizing: border-box;
}
.h3{
  color:black; text-shadow: 2px 2px 2px white;
}
.image{
  box-shadow: 5px 5px 5px black;
}
.card2{
  width:auto;
}
.row2{
  margin-bottom: 40vh;
}
