*{
  margin: 0;
  padding: 0;
  font-family: fantasy,'Roboto',sans-serif;
}
h3 {
  margin-left: 20px;
  color: #fff;
  font-size: 30px;
}
.container {
  width: 100%;
  height:100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(images/health.jpg);
  background-position: center;
  ba
  /* background-size: cover; */
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
  /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);*/
  /*opacity: 0.9; /
  /* background-color: rgb(110, 95, 56); */
}
nav {
  flex: 1;
  text-align: right;
}
nav ul li {

  list-style: none;
  display: inline-block;
  margin-left: 50px;
}
nav ul li a {

  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
nav ul li a:hover {
  background-color: #fff;
  color: black;
  transition: 0.6s ease;
}
.logo {
  width: 50px;
  cursor: pointer;
}
.menuicon {
  width: 50px;
  margin-left: 50px;
  cursor: pointer;
}

.row {
  display: flex;
  height: 85%;
  align-items: center;
}
.column {
  flex-basis: 50%;
}
h1{
  color: #fff;
  font-size: 90px;
}
.column p {
  color: #fff;
  font-size: 16px;
  /* line-height: 15px; */
}
.kotsiroselida {
  margin: 20px;
}
